:root {
  --white-color: #ffffff;
  --color-black: #000000;
  --color-green-major:#39DB4A;
  --color-green-secondary:#C1F1C6;
  --color-grey:#4A4A4A;
  --color-grey-secondary:#4D4D4D;
  --color-red:#FF6868;
}