@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(180deg, #FAFAFA 0%, #FCFCFC 100%);
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0rem;
}

img {
  width: 100%;
}
